/*
 *
 * {Mani-Pedi} CSS Styles
 * Sections are labeled *** 
 * Descriptions are labeled **
 * 
 */
 
/*
 * Site-Wide Styles
 */ 

/* Site Header */
 .site-header {
    background-color:#ffae89;
    border-top: 5px solid #576dc7;
    border-bottom: 5px solid #576dc7;
    min-height: 55.95px;
    position: relative;
}

/* Site Title */ 
.site-title, .site-title:visited {
    color: #576dc7;
    font-family: "crystal";
    padding-top: 3px;
    font-weight: 700;
    
}

/* Site Navigation Bar */ 
.site-nav .page-link {
    color: #576dc7;
    line-height: 1.5;
    font-weight: 400;
    font-family: Geneva, sans-serif;
}

/* 
 * Body Styles by Page 
 */ 

body.about .site-header {
    background-color:#ffae89;
}

body.manifesto .site-header {
    background-color:#ffae89;
}

body.home main.page-content {
    background-image: url(img/laptop-1x.gif);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

body.manifesto {
    background-color: #f6f2e0;
    color: #546300;
    font-weight: 200;
    font-family: Geneva, sans-serif;
}

body.about {
    background-color: #f6f2e0;
    color: #546300;
    font-weight: 200;
    font-family: Geneva, sans-serif;
}

body.data {
    background-color: #f6f2e0;
    color: #546300;
    font-weight: 200;
    font-family: Geneva, sans-serif;
}

body.resources{
    background-color: #f6f2e0;
    color: #546300; 
    font-weight: 200;
    font-family: Geneva, sans-serif;
}

.post-content h2 {
    font-weight: 400;
    /* font-family: Geneva, sans-serif; */
}

/* 
 * Images 
 */ 

.med-sticker-right {
    float: right;
    max-width: 200px;
    margin-bottom: 12px;
    margin-left: 12px;
    transform: rotate(15deg);    
}

.med-sticker-left {
    float: right;
    max-width: 200px;
    margin-bottom: 12px;
    margin-right: 12px;
    transform: rotate(-15deg);    
}

.large-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*
 * FONTS :) 
 */

 /* Handwriting Font Definitions */
@font-face {
    font-family: 'emma'; /* font name to be used later*/
    src: url('fonts/emma-font.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'crystal'; 
    src: url('fonts/crystal-font.ttf'); 
}

@font-face {
    font-family: 'elise'; 
    src: url('fonts/elise-font.ttf'); 
}

@font-face {
    font-family: 'aaron'; 
    src: url('fonts/aaron-font.ttf');
}

@font-face {
    font-family: 'grace'; 
    src: url('fonts/grace-font.ttf');
}

@font-face {
    font-family: 'savanna'; 
    src: url('fonts/savanna-font.ttf');
}

/* Class Styles to Match Handwriting Fonts */
.crystal {font-family: 'crystal';} 

.emma {font-family: 'emma';} 

.elise {font-family: 'elise';} 

.aaron {font-family: 'aaron';} 

.grace {font-family: 'grace';} 

.savanna {font-family: 'savanna';}

/*
 *  TWINE STORY STYLES
 */

/* Story-Wide Styles */ 
tw-story {
    font-family: Geneva, sans-serif;    
    overflow: scroll;
    background-color:#576dc7;
    color:#000000;
}

/* Style of Twine Dialog Boxes (e.g. name prompts) */
tw-dialog {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-sizing: border-box;
}

input {
 
    font-family: Geneva, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    border-radius: 50px;
    border-color: black;
}

/* Links in Twine Story Dialog Boxes */
tw-dialog-links tw-link {
    background-color: white;
    color: black;
    border-radius: 20px;
}

/* Overlays between Dialog and Background */
tw-backdrop {
    background-color: #576dc7;
}

/* All Links in Story */
tw-link {
    color: #576dc7;
}

/* All Links in Story when Hovering */
tw-link :hover {
    font-stretch: expanded;
}

/* Story back and forward arrows */
tw-icon[alt] {
    color:#576dc7;
    opacity: 1 !important;
}

/* Text areas for user input */
textarea#survey {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

textarea#tweet {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

/* Transparent Boxes for Twine Story Text */
div.boxed {
    background: rgb(255, 255, 255, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom:20px;
    border-radius: 20px;
}

/* Responsive text box for grad survey */
div.textbox {

}


/* 
 * Content Types Div Styles 
 */ 
 div.email, div.sms, div.zoommsg, div.cavdaily, div.dailyprog, div.reddit, div.tweet{
     margin-top: 5px;
     margin-bottom: 5px;
 }

/* Story Choice Options */ 
/* div.choices {} */ 

/* Emails */
div.email {
    min-width: auto;
    min-height: auto;
    background: white border-box; 
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: sans-serif;
    text-align: justify;
}

/* Text Messages */ 
div.sms {
    /* background-image: url('img/receivedtextcolorized.png'); */
    background-position: center center;
    background: #03a9fc; 
    font-family: helvetica;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;    
    text-align: center;
    z-index: 1;
}

/* Zoom Messages */ 
div.zoommsg {
    background: #242c45;
    font-family: helvetica;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;    
    text-align: center;
}

/* Cavalier Daily Articles */ 
/* div.cavdaily {} */

p#cavdailyheadline {
    background: white;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Cormorant Garamond;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 20px;
}

p#cavdailytext {
    background: white;
    color: black; 
    font-family: Cormorant Garamond;
    padding: 20px;
    border-radius: 20px; 
} 

/* Daily Progess Articles */ 
div.dailyprog {
    background: white;
    color: black;
}


/* Reddit Posts */ 
div.reddit { 
    background: white; 
    color: orangered; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;  
}

/* Tweets */ 
div.tweet {
    background: white;
    font-family: helvetica;
    font-size-adjust: smaller;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;  
}

/* Passage Text Styles (<p>, <span>) */ 

tw-passagedata p { 
    padding: 5%;
}

span.thought {
    font-style: italic;
}

/* Modal Body for Manifesto Links */
div.modal{
    display: block; 
    position: fixed; 
    z-index: 1;
    left: 50%;
    width: 75%;
    top: 50%;
    height: 50%;
    overflow: auto;
    background-color: blanchedalmond;
    transform: translate(-50%, -50%);
    border-style: solid; 
    border-radius: 20px;   
 }

/* Modal Content Div */
div.modalContent{
    margin: 15%;
    border: 1px solid black; 
    width: 75%; 
    padding: 5%;
    border: white thin; 
 }

 /* Modal Close Button */
 span.close {
     float: right; 
     z-index: 2;
     font-size: 36px;
     font-weight: bolder;
 }

 span.close:hover, span.close:focus {
     color: black; 
     cursor: pointer;
 }

/* Passage Body Styles */ 

@keyframes fadeIn {
    from { opacity:0; } to { opacity:1; }
  }

/* tw-story[tags~="transition"] div.boxed {
    animation: fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 2s;
} */

tw-story[tags~="kitchen"] {
    background-image: url('img/kitchen.png');
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="newspaper"] {
    background-image: url('img/newspaper-2.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="zoom"] {
    background-image: url('img/fac_computer.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="apartment"] {
    background-image: url('img/apartment.png');
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="gradcomputer"] {
    background-image: url('img/grad_computer.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="dormroom"] {
    background-image: url('img/dormroom.png');
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="library"] {
    background-image: url('img/library1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="library2"] {
    background-image: url('img/library2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="office"] {
    background-image: url('img/office.png');
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="grass"] {
    background-image: url('img/party_outside.png');
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="party"] {
    background-image: url('img/party.png');
    background-repeat: no-repeat;
    background-size: cover;
}

tw-story[tags~="faculty"] {
    background-color:#F3722C;
    color:#000000;
}

tw-story[tags~="grad"] {
    background-color:#5F0F40;
    color:#000000;
}

tw-story[tags~="stud1"] {
    background-color:#4D908E;
    color:#000000;
}

tw-story[tags~="stud2"] {
    background-color:#0F4C5C;
    color:#000000;
}

/* Accordion styles */
ul.jekyllcodex_accordion li ul li{
  list-style-type: circle;
  border-top: none;
}

ul.jekyllcodex_accordion li div.footnotes{
  display: block;
}

ul.jekyllcodex_accordion li div.footnotes li{
  border-top: none;
  list-style-type: decimal;
}

ul.jekyllcodex_accordion li input:checked + label + div div {
  display: block;
}