.site-header {
    background-color: #ffae89;
}

body.home {
    background-image: url(home_temporary.jpeg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
   }
body.manifesto {
    background-color: #d4d4d2;
}

@font-face {
    font-family: 'Emma'; /*a name to be used later*/
    src: url('../assets/emma-font.ttf'); /*URL to font*/
}

.site-title, .site-title:visited {
    color: #000;
    font-family: "Emma";
}

.site-nav .page-link {
    color: #000;
    line-height: 1.5;
}

tw-story {
    background-color:#f6f2e0;
    color:#546300;
    min-height: 10px;   
}
